#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.topnav {
  background-color: #efb195;
  overflow: hidden;
  border: 2px solid #404972 ;
  border-radius: 15px;
}

.topnav li {
  list-style: none;
}

.topnav a {
float: left;
color: #404972;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
border-radius: 15px;
}

.topnav a:hover {
background-color: #ffe7d3;
border-radius: 15px;
}

.topnav a.active {
background-color: #64baaa6e;
color: white;
border-radius: 15px;
}

.title{
  color: #404972;
  font-size: 40px;
}

button{
    background-color: white;
    color: black;
    border: 2px solid #404972;
    border-radius: 4px;
    padding: 4px 15px;
}

.content{
  height: 100px;
}

input[type=text] {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  text-align: center;
}

button[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}

.formContainer form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.req{
  color:red
}

