#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.topnav {
  background-color: #efb195;
  overflow: hidden;
}

.topnav li {
  list-style: none;
}

.topnav a {
float: left;
color: #00452b;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
}

.topnav a:hover {
background-color: #ffe7d3;
}


.topnav a.active {
background-color: #64baaa6e;
color: white;
}

.title{
  color: #344d49;
  font-size: 40px;
}

/* .formContainer{
  width: 45px;
  height: 60px;
} */
